@CHARSET "UTF-8";

/* Shared Forms */

.fcf-sharedforms-captioned .card-header {
	font-size: 100%;
	font-family: arial;
	font-weight: bold;
	padding: 0;
}

.fcf-sharedforms-captioned-caption-left .card-header {
	text-align: left;	
	width: 100%;
	padding-left: 5px;
}

.fcf-sharedforms-captioned-caption-right .card-header {
	text-align: right;	
	width: 100%;
	padding-right: 5px;
}

.fcf-sharedforms-captioned-caption-center .card-header {
	text-align: center;
	width: 100%;
}

.fcf-sharedforms-captioned-caption-hidden .card-header {
	display: none;
}


