@CHARSET "UTF-8";

/* CSS for results display. */
	
.fcf-reports-normalRange, .fcf-reports-normalRange * {
	color: #5E5E5E;
	font-style: italic;
}

.fcf-reports-abnormalResult, .fcf-reports-abnormalResult * {
	color: red;
}

div.fcf-reports-textReport-title {
	font-weight: bold;
	font-size: 125%;
	text-align: center;
	background-color: lightblue;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 5px;
}

div.fcf-reports-textReport-body {
	font-family: monospace;
	white-space: -moz-pre-wrap !important;  	/* Mozilla, since 1999 */
	white-space: -pre-wrap;      				/* Opera 4-6 */
	white-space: -o-pre-wrap;    				/* Opera 7 */
	white-space: pre-wrap;     					/* css-3 */
	word-wrap: break-word;       				/* Internet Explorer 5.5+ */
}

div.fcf-reports-textReport-header {
	font-weight: bold;
	font-size: 125%;
	color: darkblue;
}

.fcf-reports-drillDown-document-title * { 
	text-align: center; 
}

.fcf-reports-drillDown-grid .z-grid-body {
    overflow-x: hidden;
}

.fcf-reports-drillDown-grid td {
	border-left: none !important;
	border-right: none !important;
}

.fcf-reports-drillDown-grid-debug * {
	background-color: lightgray !important;
}

.fcf-reports-drillDown-link {
	vertical-align: baseline;	
}

.fcf-reports-drillDown-grid .z-grid-header {
    height: 10px;
}

@media print {
	.fcf-reports-drillDown-link {
		display: none;
	}
	
	.fcf-reports-header {
		display: block;
	}
	
	.fcf-reports-abnormalResult, .fcf-reports-abnormalResult * {
		color: #000 !important;
		font-weight: 900 !important;
		font-style: italic !important;
	}
		
}

@media screen {
	.fcf-reports-header {
		display: none;
	}
	.fcf-reports-drillDown-link {
		cursor: pointer;
	}
}
