@CHARSET "UTF-8";

/* Prompt Dialog */

.fcf-promptdialog {
	max-height: 75%;
	max-width: 50%;
}

.fcf-promptdialog > .card-body > span > .fa {
	margin: 0 10px 10px;
	cursor: default;
	font-size: 26px;
	background: transparent;
}

.fcf-promptdialog > .card-body > span > div:first-of-type {
	white-space: pre-wrap;
	display: inline;
}

.fcf-promptdialog > .card-body > span > div:last-of-type {
	clear: both;
	margin: 10px 0 5px 0;
	text-align: center;
}

/* Input Dialog */

.fcf-inputdialog {
	max-width: 50%;
	max-height: 75%;
}

.fcf-inputdialog > div {
	text-align: center;
}

.fcf-inputdialog .fujion_cell {
	display: block;
	white-space: pre-wrap;
}

.fcf-inputdialog .fujion_textbox {
	width: 200pt;
	margin: 5px 0 5px;
}


/* Report Dialog */

.fcf-reportdialog {
	height: 100%;
	width: 100%;
}

.fcf-reportdialog > .fujion_pane:first-child {
	flex: 1;
	overflow: auto;
	max-height: 400px;
	font-family: monospace; 
	white-space: pre;
}

.fcf-reportdialog .fujion_toolbar {
	border: none;
}

/* XML Viewer */

.fcf-xml-tag > a {
	color: black;
}

.fcf-xml-attrname {
	color: red;
}

.fcf-xml-attrvalue {
	color: green;
}

.fcf-xml-content > a {
	color: blue;
}

.fcf-xml-comment > a {
	color: lightgray;
}

/* Session Monitor */

.fcf-sessionmonitor {
	position: fixed;
	display: none;
	overflow: hidden;
	background: none;
	z-index: 9999 !important;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.fcf-sessionmonitor div {
    overflow: hidden;
}

.fcf-sessionmonitor label {
	white-space: pre-wrap;
}

.fcf-sessionmonitor-info {
    display: block;
    color: red;
}

.fcf-sessionmonitor-countdown-panel {
	border: 1px gray solid;
	border-top: none;
    border-radius: 0 0 5px 5px;
}

.fcf-sessionmonitor-lock-panel {
	text-align: center;
    width: 100%;
    height: 100%;
    display: none;
}

.fcf-sessionmonitor-lock-panel .fcf-toolbar {
	border: none;
}

.fcf-sessionmonitor-lock-panel>div {
	top: 25%;
	position: relative;
	background: ivory;
	border-radius: 10px;
	padding: 10px;
}

.fcf-sessionmonitor-lock-panel>div>div {
	padding: 10px;
}

.fcf-sessionmonitor-lock-panel>div>label:first-child {
	font-size: 150%;
	padding: 10px;
}

.fcf-sessionmonitor-lock-panel .fa {
    font-size: 300%;
    margin: 20px 0 0 0;
}

.fcf-sessionmonitor-lock-panel label {
    flex: 1;
}

.fcf-sessionmonitor-lock-panel>div {
	width: 50%;
	min-width: 200px;
	display: inline-block
}

.fcf-sessionmonitor-baseline-countdown,
.fcf-sessionmonitor-lock-countdown,
.fcf-sessionmonitor-lock-idle {
	display: inline;
}

.fcf-sessionmonitor-lock-idle,
.fcf-sessionmonitor-lock-countdown {
	opacity: 1 !important;
	pointer-events: auto !important;
	height: 100%;
	background: lightgray;
}

.fcf-sessionmonitor-lock-idle .fcf-sessionmonitor-countdown-panel {
	visibility: hidden;
}

.fcf-sessionmonitor-lock-idle .fcf-sessionmonitor-lock-panel,
.fcf-sessionmonitor-lock-countdown .fcf-sessionmonitor-lock-panel {
	display: block;
}

.fcf-sessionmonitor-shutdown {
	opacity: .75;
    pointer-events: none;
}

.fcf-sessionmonitor-shutdown .fcf-sessionmonitor-countdown-panel input,
.fcf-sessionmonitor-shutdown .fcf-sessionmonitor-countdown-panel button {
	display: none;
}

/* Date Range Dialog */

.fcf-daterangedialog .fujion_div {
	display: flex;
	width: 100%;
	overflow: hidden;
}
.fcf-daterangedialog .fujion_datebox {
	flex: 1;
}
.fcf-daterangedialog .fa {
	margin-top: 3px;
}

/* Date Time Box */

.fcf-datetimebox {
	border: 1px solid lightgray;
	border-radius: 6px;
}

.fcf-datetimebox td {
	text-align: center;
}

.fcf-datetimebox .fujion_div {
	display: flex;
	width: 100%;
}

.fcf-datetimebox a,
.fcf-datetimebox button {
	flex: 1;
}

