<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" type="text/css"
	 	href="../webjars/bootstrap/css/bootstrap.css" />

	<body class="text-center">
		<div style="display:inline-block;height:100%;width:100%">
			<div class="card alert-primary" style="display:inline-block;position:relative;top:20px">
				<div class="card-heading text-left">
					<div class="card-title" th:text="#{security.logout.window.title}"></div>
				</div>
				<div class="card-body text-center">
					<span class="text-danger" th:text="${message}"></span>
				</div>
				<div class="card-footer">
					<div class="btn-toolbar" role="toolbar" style="display:flex;justify-content:center">
						<a class="btn btn-primary" 
							th:href="${target}"
							th:text="#{security.logout.form.button.login.label}">
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
