<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" href="../webjars/webjar-bootstrap/dist/css/bootstrap.css">
		<style th:inline="css">
			#fcf-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 100%;
			}

			#fcf-toolbar {
				display: flex;
				justify-content: center;		}
		</style>
	</head>
	<body class="text-center">
		<div id="fcf-container">
			<div style="flex: 1"></div>
			<div class="card">
				<div class="card-heading alert-primary">
					<div class="card-title font-weight-bold" th:text="#{security.logout.window.title}"></div>
				</div>
				<div class="card-body">
					<span class="text-danger" th:text="${message}"></span>
				</div>
				<div class="card-footer">
					<div id="fcf-toolbar" class="btn-toolbar" role="toolbar">
						<a class="btn btn-primary" 
							th:href="${target}"
							th:text="#{security.logout.form.button.login.label}">
						</a>
					</div>
				</div>
			</div>
			<div style="flex: 1"></div>
		</div>
	</body>
</html>
